{% extends "base.html" %}



{% block title %}
OMR - About
{% endblock title %}


{% block content %}
<style>
/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

</style>
<!-- For demo purpose -->
<div class="container py-5">
    <div class="row text-center text-white">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4">About Us</h1>
            <p class="lead mb-0">Programmer's Never Sleep</p>
            </p>
        </div>
    </div>
</div><!-- End -->


<div class="container">
    <div class="row text-center">

        <!-- Team item -->
        <div class="col-xl-4 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://pps.whatsapp.net/v/t61.24694-24/103594234_109053950727121_4821004321834544081_n.jpg?ccb=11-4&oh=01_AdTkdxs6-J2CNGrgTwmarbxZG1-aL8AyOcPXwAnLR_2VZw&oe=65A651F1&_nc_sid=e6ed6c&_nc_cat=100" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Md Nahid Chowdhury</h5><span class="small text-uppercase text-muted">ID:191079</span>
              
            </div>
        </div><!-- End -->

        
        <!-- Team item -->
        <div class="col-xl-4 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://scontent.fdac155-1.fna.fbcdn.net/v/t39.30808-1/406072072_3312396512391652_7204349544919756663_n.jpg?stp=dst-jpg_p160x160&_nc_cat=108&ccb=1-7&_nc_sid=5740b7&_nc_ohc=FqhvQPl4WNcAX-Bn7C5&_nc_ht=scontent.fdac155-1.fna&oh=00_AfBQe-7yzrEFERIBmcAO2cWU5Sq-hP_RyTDxDloUrOVokQ&oe=659E2992" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Sayem Obayed Hossain </h5><span class="small text-uppercase text-muted">  ID:C191059 </span>
              
            </div>
        </div><!-- End -->

        
        <!-- Team item -->
        <div class="col-xl-4 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://scontent.fdac155-1.fna.fbcdn.net/v/t1.18169-9/13435358_1624129014568082_4273814767190827594_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=300f58&_nc_ohc=1izFVHk_3W0AX8TiPrL&_nc_ht=scontent.fdac155-1.fna&oh=00_AfD5dUq9vvKg85oLfnxoWaJBEc-U5brLmNXrSdKhhkDnAA&oe=65C0E1B2" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Nitol Das</h5><span class="small text-uppercase text-muted">   ID:C191045
                </span>
              
            </div>
        </div>


    </div>
</div>
{% endblock content %}