{% extends "base.html" %}

{% block title %}
    OMR - Home
{% endblock title %}


{% block heading %} 
Welcome, {{request.user}}!
{% endblock heading %}

{% block content %}
<style>
    button{
        width: 500px;
    }
    @media screen and (max-width: 590px) {
        button {
            width: 300px;
        }
    }
    @media screen and (max-width: 360px) {
        button {
            width: 150px;
        }
    }
 
</style>





<div class="container my-5 text-center" >


    <div class="row  my-2">
        <div class="col">
            <a href="/create-template">
                <button class="btn btn-dark btn-lg btn-block">Create Template</button>
            </a>
        </div>
    </div>
    <div class="row  my-2">
        <div class="col">
            <a href="/achieve">
                <button class="btn btn-dark btn-lg btn-block">Achieve</button>
            </a>
        </div>
    </div>
    <div class="row  my-2">
        <div class="col">
            <a href="/about">
                <button class="btn btn-dark btn-lg btn-block"> About</button>
            </a>
        </div>
    </div>
    <div class="row  my-4">
        <div class="col">
            <a href="/auth/logout/">
                <button class="btn btn-dark btn-lg btn-block"> Log out</button>
            </a>
        </div>
    </div>


    

</div>

{% endblock content %}